{{ register_asset_bundle('app/assets/AppAsset') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
<head>
    <meta charset="{{ app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ html.encode(this.title) }}</title>
    {{ html.csrfMetaTags | raw }}
    {{ void(this.head()) }}
</head>
<body>
{{ void(this.beginBody()) }}
<section id="header">
    {# header content #}
</section>
<div class="wrap">
    <div class="container">
        {{ content | raw}}
    </div>
</div>
<footer class="footer">
    <div class="container">
        {# footer content #}
    </div>
</footer>
{{ void(this.endBody()) }}
</body>
</html>
{{ void(this.endPage()) }}