{{ set(this, 'title', 'видалити команду') }}

<div>
    <p style="font-size: 30px; color: #9c3328;">
        Ви дійсно хочете видалити команду - {% set x = posts %} {{ x }} ?
    </p>
</div>
<form action="" method="post">
    <input id="form-token" type="hidden" name="<?=Yii::$app->request->csrfParam?>"
           value="<?=Yii::$app->request->csrfToken?>"/>
    <input type="submit" name="x" value="Видалити" class="butn">
</form>