{{ set(this, 'title', 'редагувати команду') }}

<p><h2>Внесіть зміни</h2></p><br><br>

<form name="teamNew" action="" method="post">
    <lebel class="forma"> Назва команди </lebel> <br>
    <input type="text" name="name" required value="{{ posts['name'] }}"> <br><br>

    <lebel class="forma"> Рік заснування </lebel> <br>
    <input type="datetime" name="date" required value="{{ posts['date'] }}"> <br><br>

    <input type="submit" class="butn" name="ok" value="Змінити"> <br>
</form>
<br><br>

<pre><p><h4>    <- на сторінку <a href="{{path('index.php/') }}"> Команди </a></h4> </p> </pre>