{{ use('yii\helpers\Html') }}
{{ use('yii\widgets\ActiveForm') }}

{{ set(this, 'title', 'створити команду') }}

<br>
<p><h2>Для створення новї команди заповніть форму</h2></p><br><br>

<form name="teamNew" action="" method="post">
    <lebel class="forma"> Назва команди </lebel> <br>
    <input type="text" name="name" placeholder="команду плиз" required value=""> <br><br>

    <lebel class="forma"> Рік заснування </lebel> <br>
    <input type="datetime" name="date" placeholder="дату плиз" required value=""> <br><br>

    <input type="submit" class="" name="ok" value="Створити"> <br>
</form>
<br><br>

<pre><p><h4>    <- на сторінку <a href="{{path('index.php/') }}"> Команди </a></h4> </p> </pre>