{{ set(this, 'title', 'Команди') }}

<p style="margin-left: 78%"><a class="btn btn-lg btn-success" href="{{ url }}">Добавити команду</a></p>

<p><h3> Команди </h3></p>
<div class="datagrid">
    <table>
        <thead>
        <tr><th>id</th><th>Назва команди</th><th>рік заснування</th><th>редагувати</th><th>видалити</th></tr>
        </thead>
        <tfoot>
        <tr><td colspan="5">
                <div id="paging">
                    <ul>
                        <li><a href="#"><span>Previous</span></a></li>
                        <li><a href="#" class="active"><span>1</span></a></li>
                        <li><a href="#"><span>2</span></a></li>
                        <li><a href="#"><span>3</span></a></li>
                        <li><a href="#"><span>4</span></a></li>
                        <li><a href="#"><span>5</span></a></li>
                        <li><a href="#"><span>Next</span></a></li>
                    </ul>
                </div>
        </tr>
        </tfoot>
        <tbody>

        {% for x in posts %}
            {% set u = u +1 %}
        {% if u%2 != 0 %}
        <tr>
            <td>{{ x['id'] }}</td>
            <td><a href="{{path('player/players', {'idCommand': x['id']}) }}">{{ x['name'] }}</a></td>
            <td>{{ x['date'] }}</td>
            <td><a href="{{path('site/edit', {'id': x['id']}) }}">Редагувати</a></td>
            <td><a href="{{path('site/del', {'id': x['id']}) }}">Видалити</a></td>
        </tr>
        {% else %}
        <tr class="alt">
            <td>{{ x['id'] }}</td>
            <td><a href="{{path('player/players', {'idCommand': x['id']}) }}">{{ x['name'] }}</a></td>
            <td>{{ x['date'] }}</td>
            <td><a href="{{path('site/edit', {'id': x['id']}) }}">Редагувати</a></td>
            <td><a href="{{path('site/del', {'id': x['id']}) }}">Видалити</a></td>
        {% endif %}
        {% endfor %}

        </tbody>
    </table>
</div>
<br><br>
