.datagrid table {
    border-collapse: collapse; text-align: left; width: 100%; }

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff; overflow: hidden;
    border: 2px solid #006699;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px; }

.datagrid table td, .datagrid table th {
    padding: 12px 7px; }

.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #0070A8; }

.datagrid table thead th:first-child {
    border: none; }

.datagrid table tbody td {
    color: #00496B;
    border-left: 3px solid #E1EEF4;
    font-size: 14px;font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #E1EEF4; color: #00496B; }

.datagrid table tbody td:first-child {
    border-left: none; }

.datagrid table tbody tr:last-child td {
    border-bottom: none; }

.datagrid table tfoot td div {
    border-top: 1px solid #006699;
    background: #E1EEF4;}

.datagrid table tfoot td {
    padding: 0;
    font-size: 10px }

.datagrid table tfoot td div{
    padding: 6px; }

.datagrid table tfoot td ul {
    margin: 0; padding:0;
    list-style: none;
    text-align: right; }

.datagrid table tfoot  li {
    display: inline; }

.datagrid table tfoot li a {
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; }

.datagrid table tfoot ul.active,

.datagrid table tfoot ul a:hover {
    text-decoration: none;

    border-color: #006699;
    color: #FFFFFF;
    background: none;
    background-color:#00557F;}

.p {
    background: coral;
    font-family: arial-black;
    font-size: 50%;
}

.fon {
    margin-bottom: 300px;
}

.forma {
    font-size: 20px;
    font-family: "Arial Black", arial-black;
    color: #0000cc;
}

/*body {
    background-image: url('../../library/futbol.jpg');
}*/

div.dhtmlx_window_active, div.dhx_modal_cover_dv {
     position: fixed !important; }

.button {
    margin:  30px 10px 10px 960px;
    border-top: 1px solid #96d1f8;
    background: #0078a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top, #00adee, #0078a5);
    background: -ms-linear-gradient(top, #00adee, #0078a5);
    background: -o-linear-gradient(top, #00adee, #0078a5);
    padding: 7.5px 15px; -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #d9eef7;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

    /*text-decoration: none;*/
    vertical-align: middle;
}

.butn {
    color: #0f74a8;
    font-family: 'Arvo', serif;
    font-size: 18px;
}




