{{ set(this, 'title', 'редагувати гравця') }}

<p><h2>Внесіть зміни</h2></p><br>

<form name="teamNew" action="" method="post">
    <lebel class="forma"> Імя гравця </lebel> <br>
    <input type="text" name="name" required value="{{ posts['name'] }}"> <br><br>

    <lebel class="forma"> Фамілія гравця </lebel> <br>
    <input type="text" name="surname" required value="{{ posts['surname'] }}"> <br><br>

    <lebel class="forma"> Дата народження гравця </lebel> <br>
    <input type="date" name="date" required value="{{ posts['date'] }}"> <br><br>

    <lebel class="forma"> Позиція на полі </lebel> <br>
    <input type="text" name="position" required value="{{ posts['position'] }}"> <br><br>

    <lebel class="forma"> Якщо команда не змінилася, нічого вибирати не потрібно </lebel> <br>
    <select name="command" >
        <option></option>
        {% for x in team %}
            <option>{{ x['name'] }}</option>
        {% endfor %}
    </select><br><br>

    <input type="submit" class="butn" name="ok" value="Змінити"> <br>
</form>

<br><br>
<pre><p><h4>    <- на сторінку <a href="{{path('index.php/') }}"> Команди </a></h4> </p> </pre>