{{ set(this, 'title', 'створити гравця') }}

<p><h2>Для створення нового гравця заповніть форму</h2></p><br><br>

<form name="teamNew" action="" method="post">
    <lebel class="forma"> Імя гравця </lebel> <br>
    <input type="text" name="name" placeholder="імя плиз" required value=""> <br><br>

    <lebel class="forma"> Фамілія гравця </lebel> <br>
    <input type="text" name="surname" placeholder="прізвище плиз" required value=""> <br><br>

    <lebel class="forma"> Дата народження гравця </lebel> <br>
    <input type="date" name="date" placeholder="дату плиз" required value=""> <br><br>

    <lebel class="forma"> Позиція на полі </lebel> <br>
    <input type="text" name="position" placeholder="позицію плиз" required value=""> <br><br>

    <input type="submit" class="butn" name="ok" value="Створити"> <br>
</form>

<br><br>
<pre><p><h4>    <- на сторінку <a href="{{path('index.php/') }}"> Команди </a></h4> </p> </pre>