{{ set(this, 'title', 'Гравці') }}

<p style="margin-left: 78%"><a class="btn btn-lg btn-success" href="{{path('player/new', {'id': posts1['id']}) }}">Добавити гравця</a></p>

<p><h3>Команда - {{ posts1['name'] }}</h3></p>
<div class="datagrid">
    <table>
        <thead>
        <tr><th>id</th><th>Імя</th><th>Прізвище</th><th>Дата народження</th><th>Позиція на полі</th><th>редагувати</th><th>видалити</th></tr>
        </thead>
        <tfoot>
        <tr><td colspan="7">
                <div id="paging">
                    <ul>
                        <li><a href="#"><span>Previous</span></a></li>
                        <li><a href="#" class="active"><span>1</span></a></li>
                        <li><a href="#"><span>2</span></a></li>
                        <li><a href="#"><span>3</span></a></li>
                        <li><a href="#"><span>4</span></a></li>
                        <li><a href="#"><span>5</span></a></li>
                        <li><a href="#"><span>Next</span></a></li>
                    </ul>
                </div>
        </tr>
        </tfoot>
        <tbody>
        {% for x in posts %}
            {% set u = u +1 %}
        {% if u%2 != 0 %}
        <tr>
            <td>{{ x['id'] }}</td>
            <td>{{ x['name'] }}</td>
            <td>{{ x['surname'] }}</td>
            <td>{{ x['date'] }}</td>
            <td>{{ x['position'] }}</td>
            <td><a href="{{path('player/edit', {'id': x['id']}) }}">Редагувати</a></td>
            <td><a href="{{path('player/del', {'id': x['id']}) }}">Видалити</a></td>
        </tr>
        {% else %}
        <tr class="alt">
            <td>{{ x['id'] }}</td>
            <td>{{ x['name'] }}</td>
            <td>{{ x['surname'] }}</td>
            <td>{{ x['date'] }}</td>
            <td>{{ x['position'] }}</td>
            <td><a href="{{path('player/edit', {'id': x['id']}) }}">Редагувати</a></td>
            <td><a href="{{path('player/del', {'id': x['id']}) }}">Видалити</a></td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>

<br><br>
<pre><p><h4>    <- на сторінку <a href="{{path('index.php/') }}"> Команди </a></h4> </p> </pre>